<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846759324672-q8fg08bfu61aiuh7b1tt584gr9p5m6ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846759324672-q8fg08bfu61aiuh7b1tt584gr9p5m6ca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>846759324672-b9qfri90286mkthpn6hcv73d24vioj76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDocdwAjTMKDw_2qdkh2btnXelZJhAENFM</string>
	<key>GCM_SENDER_ID</key>
	<string>846759324672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-varios-4518b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-varios-4518b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846759324672:ios:43702e20a9ac461e633ce5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-varios-4518b-default-rtdb.firebaseio.com</string>
</dict>
</plist>